{% extends 'layout.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="text-center">
    <form class="form-signin" action="/login" method="post">
        <img class="mb-4" src="{{ url_for('static', filename='img/books.svg') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>
</div>

{% endblock %}
