{% extends 'layout.html' %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}

    <table class="table table-hover">
        <thead>
            <th scope="col">ISBN</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <a href="{{ url_for('book', book_id=book.id) }}">{{ book.isbn }}</a>
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}